<style type="text/css">


#wrapper{width:100%;}
#wrapper2{width:90%;}
#text1{width:75%; float:left; left:20%;}
#photo1{width:25%; float:right;}

body {
	background-image: url("old-BRO-background1.jpeg");
	background-color: blue;
	color: #FCF8F8;
	background-size: cover;
	<!--background image covers the entire background no matter what the screen size-->
    <!--background-attachment: fixed;-->
	
}
.nav {
	list-style:none;   <!--removes list bullets, margins and padding-->
	margin: 20%;
}
.nav li{
	float: left;      <!--display menu items beside each other rather than under each other-->
	min-width: 8em;
	margin-right: 2%;
	text-align: centre;
}
.nav li a:link,
.nav li a:visited {
	background-color: yellow;   <!--makes navigation box-like with rounded corners and drop shadows-->
	color: black;
	display: block;
	padding: 0.2em;
	text-decoration: none;
	font-weight: bold;
	margin: 0 0 0.2em 0;
	border-radius: 3px;
	/*moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);
	-moz-box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);*/
	box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5); 
}
.nav li a:hover {				/*makes mousing over navigation box highlight it*/
	background-color: red;
	color: white;
}
.header {
	width : 100%;
}

.conductor1 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 200%;
margin-right: 3%;
margin-bottom: 0%;
color: yellow;
}

#footer{clear:both; width:100%; float:right; background-color:yellow; position:fixed; bottom:0;}
#footer1{clear:both; width:100%; float: left; background-color:yellow; bottom:0:}

.footer{padding-left:1em; font-family:verdana; color:black;}

h1 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 500%;
padding: -10%;
margin: 0%;
color: white;
margin-left: 20%;
}
h2 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 200%;
	margin-right: 0%;
	color: #FFEF1D;
border: 
; 	text-align: center;
}
h3 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 20%;
	margin-bottom: 5%;
	color: White;
	clear: all;
	text-align: center;
}
h4 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: White;
	left: 142px;
}
h5 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	left: 142px;
}
h6 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: yellow;
	left: 142px;
}
p{
	font-family: helvetica, arial, sans-serif;
	margin-left: 4%;
	padding-right: 4%;
}
.address {
	font-family: helvetica, arial, sans-serif;
	margin-left: 10%;
	margin-top: -2%;
	margin-bottom: 1%;
	padding: 0%;
	color: white;
	width: 70%;
}
.picture1 {
float: left;
margin-top: 0%;

}
.picture2 {
float: right;
margin-right: 4%;
margin-top: 10%;
clear: all;
}
.conductorPhoto {
float: left;
margin-left: 0%;
margin-top: 1.5%;
margin-right: 1%;
}
.caption {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 150%;
color: yellow;
text-align: top;
}

.benefactorsList {
	font-family: helvetica, arial, sans-serif;
	font-size: 150%;
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 3%;
	padding: 0%;
	color: white;
	width: 40%;
	clear: left;
	float: left;
}
.sponsors {
	font-family: helvetica, arial, sans-serif;
	font-size: 150%;
	margin-left: 45%;
	margin-top: 1%;
	margin-bottom: 3%;
	padding-right: 3%;
	color: white;
	width: 50%;
	float: top;
}
.imgborder {
	border: 2px solid #000;
	margin: 1%;
}
legend {
	font-size: 100%;
	color: white;
}
.wrapper {
width: 70%;
margin-left: auto;
margin-right: auto;
font-size: 120%;
font-family: helvetica, arial, sans-serif;
color: white;
}
.form_wrapper {					<!--Below relates to the Forms-->
width: 80%;
margin: 20px auto 40px auto;
}
.submit  {
width: 100px;
float: right;
}
form {				
width: 400px;
margin: 0 0 0 10em;
}
form div {
float: left;
width: 400px;
padding: 0 0 0.75em 0;
}
form label {
float: left;
width: 120px;
}
form textarea, form input {  <!--:not([type="submit"])-->
float: right;
width: 260px;
}
<!--fieldset:hover {
background-color: rgba(126,208,214,0.5);
}-->
form input[type="text"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="email"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="tel"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="submit"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="submit"]{
float: right;
width: 60px;
margin-right: 13px;
}
form div.submit {
text-align: right;
}
{/style}
