<style type="text/css">
html{
	
}

body {
	background-image: url("old-BRO-background1.jpeg");
	background-color: blue;
	color: #FCF8F8;
	background-size: cover;
background image covers the entire background no matter what the screen size
    background-attachment: fixed;

}

@media only screen and (min-width:768px){
	/* css for 768 pixel width devices and wider goes here */
}
@media only screen and (min-width:992px){
	/* css for 992 pixel width devices and wider goes here */
}
.nav {
	list-style: none;
		margin-left: 20%;
}
.nav li{
	float: left;      display menu items beside each other rather than under each other
	min-width: 8em;
	margin-right: 2%;
	text-align: centre;
}
.nav li a:link,
.nav li a:visited {
	background-color: yellow;   makes navigation box-like with rounded corners and drop shadows
	color: black;
	display: block;
	padding: 0.2em;
	text-decoration: none;
	font-weight: bold;
	margin: 0 0 0.2em 0;
	border-radius: 3px;
	/*moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);
	-moz-box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);*/
	box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5); 
}
.nav li a:hover {				/*makes mousing over navigation box highlight it*/
	background-color: red;
	color: white;
		background-color: yellow;   makes navigation box-like with rounded corners and drop shadows
	color: black;
	display: block;
	padding: 0.2em;
	text-decoration: none;
	font-weight: bold;
	margin: 0 0 0.2em 0;
	border-radius: 3px;
	/*moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);
	-moz-box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5);*/
	box-shadow: 3px 3px 3px 3px rgba(43, 43, 77, 0.5); 
}

.header {
	width : 100%;
}

.conductor1 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 200%;
margin-right: 3%;
margin-bottom: 0%;
color: yellow;
}

h1 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 500%;
padding: -10%;
margin: 0%;
color: white;
margin-left: 20%;
}
h2 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 200%;
	margin-right: 0%;
	color: #FFEF1D;
	border: ; 
	text-align: center;
}
h3 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 20%;
	margin-bottom: 5%;
	color: White;
	clear: all;
	text-align: center;
}
h4 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: White;
	left: 142px;
	text-decoration: underline;
}
h5 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	left: 142px;
	text-decoration: underline;
}
h6 {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 250%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: white;
	left: 142px;
	text-decoration: underline;
}
names {
		color: Gold;
}

text{
	font-family: helvetica, arial, sans-serif;
	margin-left: 1%;
	color: white;
	border: solid 1em;
	padding-right: 4%;
}

.address {
	font-family: helvetica, arial, sans-serif;
	margin-left: 10%;
	margin-top: -2%;
	margin-bottom: 3%;
	padding: 0%;
	color: white;
	width: 70%;
}
.Content2 {
	width: 70%;
	margin-left: 15%;
	margin-right: 0%;
	font-size: 130%;
	font-family: helvetica, arial, sans-serif;
	color: white;
}
.Content3 {
	width: 70%;
	margin-left: 15%;
	margin-right: 0%;
	font-size: 140%;
	font-family: helvetica, arial, sans-serif;
	color: white;
}
.picture1 {
float: left;
margin-top: 0%;

}
.picture2 {
	float: right;
	margin-right: 4%;
	margin-top: 10%;
	clear: all;
	border: thick solid #FFAE00;
}
.fb-page {
	margin-left: 75%;
	clear: all;
}
.picture3 {
		float: right;
}
.picture4 {
	float: left;
	margin-right: 1%;
}
.picture5 {
		float: right;
}
.picture6 {
		float: left;
	margin-right: 1%;
}
.caption {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 150%;
	color: #FFFFFF;
	margin-left: 2%;
	text-align: center;

}

.benefactorsList {
	font-family: helvetica, arial, sans-serif;
	font-size: 150%;
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 3%;
	padding: 0%;
	color: white;
	width: 40%;
	clear: left;
	float: left;
}
.sponsors {
	font-family: helvetica, arial, sans-serif;
	font-size: 150%;
	margin-left: 45%;
	margin-top: 1%;
	margin-bottom: 3%;
	padding-right: 2%;
	color: white;
	width: 50%;
	float: top;
}
.imgborder {
	border: 2px solid #000;
}
legend {
	font-size: 100%;
	color: white;
}
.wrapper {
width: 70%;
margin-left: auto;
margin-right: auto;
font-size: 120%;
font-family: helvetica, arial, sans-serif;
color: white;
}
form {				Below relates to the Forms
width: 60%;
}
form div {
float: left;
width: 400px;
padding: 0 0 0.75em 0;
}
form label {
float: left;
width: 120px;
}
form textarea, form input:not([type="submit"]) {
float: right;
width: 260px;
}
fieldset:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="text"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="email"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="tel"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="submit"]:hover {
background-color: rgba(126,208,214,0.5);
}

.tickets {
	float: right;
	margin-right: 4%;
	margin-top: 0%;
	clear: all;
	border: thick solid gold;
}
.ticket {
	font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
	font-size: 150%;
	color: #FFFFFF;
	margin-left: 8%;
	text-align: center;
}
{/style}
