<style type="text/css">
html{
}

body {
	background-image: url("new-BRO-background-big.jpeg");
	background-color: blue;
	color: #FCF8F8;
    /*background-attachment: fixed;*/
}
nav {
	text-align: center;
}




h1 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 500%;
padding: -10%;
margin: 0%;
color: white;
margin-left: 20%;
}
h2 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 300%;
float: right;
margin-right: 3%;
margin-bottom: 0%;
color: yellow;
}
h3 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 250%;
float: left;
margin-right: 3%;
margin-bottom: 0%;
color: yellow;
clear: all;
}
h4 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 250%;
margin-right: 3%;
margin-bottom: 0%;
color: white;
margin-left: 0%;
}
h5 {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 200%;
color: white;
margin-left: 0%;
margin-top: 0%;
margin-bottom: 0%;
}

text{
	font-family: helvetica, arial, sans-serif;
	margin-left: 1%;
	color: white;
}
.address {
	font-family: helvetica, arial, sans-serif;
	margin-left: 10%;
	margin-top: -2%;
	margin-bottom: 3%;
	padding: 0%;
	color: white;
	width: 70%;
}
.picture2 {
/*border: 2em solid red;*/
float: right;
margin-right: 4%;
margin-top: 0%;
clear: all;
}
.caption {
font-family: Raleway, Cambria, MS Gothic, Candara, Tahoma, sans-serif;
font-size: 150%;
color: yellow;
text-align: top;
}
legend {
	font-size: 100%;
	color: white;
}
.wrapper {
width: 60%;
margin-left: 10%;
font-family: helvetica, arial, sans-serif;
color: white;
}
form {
width: 60%;
}
form div {
float: left;
width: 400px;
padding: 0 0 0.75em 0;
}
form label {
float: left;
width: 120px;
}
form textarea, form input:not([type="submit"]) {
float: right;
width: 260px;
}
fieldset:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="text"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="email"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="tel"]:hover {
background-color: rgba(126,208,214,0.5);
}
form input[type="submit"]:hover {
background-color: rgba(126,208,214,0.5);
}
{/style}
